/.idea
/.vscode

/composer.lock
/vendor

phpcs.xml

phpunit.xml
.phpunit.result.cache

/coverage-html
/coverage-xml
coverage-clover.xml
coverage-cobertura.xml
coverage-crap4j.xml
coverage.php
coverage.txt
